<!--Acerca de mi-->
<div class="container">
    <div class="row">
      <div class="col blanca colBorder" id="colAcerca">
        <p class="fs-1 lh-base">Acerca de mi:</p>
        <p id="presentacion" class="fs-4 lh-base">Tengo 21 años, soy un apasionado por la informática y me encanta programar. En mis tiempos libres me gusta tocar la guitarra y jugar videojuegos con mis amigos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col derecha">
        <app-editbutton></app-editbutton>
      </div>
    </div>
  </div>