body{
    height: 1000px;
    background: linear-gradient(120deg, #7C1B73, #4C0F56, #44065F);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div{
    border-style: solid;
    border-width: 1px;
}

#login{
    background-color: #7C1B73;
    background-size: contain;
    border-radius: 20px;
}

#loginIco{
    filter: invert(90%);
}

#banner{
    border-radius: 20px;    
}

#perfil{    
    width: 200PX;
    border-radius: 100px;        
}

.icon{
    width: 40px;
    height: 40px;
    filter: invert(70%);
}

.blanca{
    background-color: aliceblue;
}

#colName{
    border-radius: 20px;
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

#name{
    font-size:x-large;
}

#degree{
    font-size:large;
}
