<!--Educacion-->
<div class="container">
    <div class="row">
      <div class="col-5 blanca colBorder" id="colEdu">
        <p class="fs-1 lh-base">Educación: </p>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/solari.png" class="img-fluid rounded-start" alt="image not found">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Educación primaria</h5>
            <p class="card-text">Realizada en el colegio "Monseñor Tomás Juan Solari" (2006-2012).</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/solari.png" class="img-fluid rounded-start" alt="image not found">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Educación secundaria</h5>
            <p class="card-text">Realizada en el colegio "Monseñor Tomás Juan Solari" con título Técnico Informático Personal y Profesional (2012-2019).</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/unlam.png" class="img-fluid rounded-start" alt="image not found">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Educación superior</h5>
            <p class="card-text">Realizándose en la "Universidad Nacional de La Matanza"(UNLaM) desde el año 2021.</p>
            <p class="card-text">Total de materias aprobadas: 4.</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>