<!--Banner y presentacion-->
<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/banner.png" class="img-responsive colBorder" width="100%">
        </div>
    </div>
    <div class="row">
      <div class="col blanca colBorder" id="colName" class="colBorder">
          <img src="assets/foto4x4.jpg" id="perfil">
          <p class="fs-1">Lautaro Nahuel Romero Collar</p>
          <p class="fs-2">Full stack developer junior</p>
          <button type="button" class="btn btn-dark" id="btn">Descargar CV</button>
      </div>
    </div>
  </div>  