body{
    height: 1000px;
    background: linear-gradient(120deg, #7C1B73, #4C0F56, #44065F);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div{
    border-style: 1;
    border-width: 1px;

}
#btn{
    margin-bottom: 2%;
}
#perfil{    
    width: 200px;
    border-radius: 100px;    
    margin-top: 0.5%; 
    margin-bottom: 1%;   
}

#colName{
    margin: auto;
    margin-top: 2%;
    background-color: aliceblue;
}

#proyecto1{
    margin-left: 1%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#presentacion{
    margin-left: 2.5%;
}

#footer{
    background-color: #520968;
}

.icon{
    width: 40px;
    height: 40px;
    filter: invert(70%);
}

.blanca{
    background-color: white;
}

.colBorder{
    border-radius: 20px;
}

#login{
    
    background-size: contain;
}

#loginIco{
    filter: invert(90%);
    background-color: #84d48c;
    border-radius: 10px;
}

#colAcerca{
    margin-top: 4%;
}

#name{
    font-size: x-large;
}

#degree{
    font-size:large;
}

#colXp{
    margin-top: 4%;
    margin-bottom: 2%;
}

#colEdu{
    margin-top: 2%;
    margin-bottom: 1.5%;
}

.zoom:hover{
    transform: scale(1.5);
}

.zoom{
    transition:transform .5s;
}

.zooms:hover{
    transform: scale(1.2);
}

.zooms{
    transition:transform .5s;
}

.aclarar:hover{
    filter: brightness(125%);
}

.aclarar{
    transition:brightness .5s;
}

.lblanca{
    color: aliceblue;
}

.lgris{
    color: #bdbdbd;
}

.centrar{
    display: flex;
    justify-content: center;
}

.derecha{
    display: flex;
    justify-content: right;
}

.mediovert{
    display: flex;
    align-items: center;
}

.cardmargen{
    margin-bottom: 2%;
}