<app-navbar></app-navbar>
<div class="container d-flex justify-content-center align-items-center mb-5">
  <div class="row col-sm-4">
    <form>
      <div class="mb-3">
        <p class="lblanca h2">Inicio de sesión</p>
        <label for="inputEmailLog" class="form-label lblanca" >Email</label>
        <input type="email" class="form-control" id="inputEmailLog" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text lgris">Nunca compartiremos tu información con nadie.</div>
      </div>
      <div class="mb-3">
        <label for="inputContraLog" class="form-label lblanca">Contraseña</label>
        <input type="password" class="form-control" id="inputContraLog">
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
      <!--<div class="mt-2"><label class="form-label lblanca ">Si no tenés una cuenta, clickeá acá para <button class="btn btn-outline-light" routerLink="/registro">registrarte</button></label></div>-->
      
    </form>
  </div>
</div>

<app-footer></app-footer>

