<!--Proyectos-->
<div class="container">
    <div class="row">
      <div class="col-5 blanca colBorder" id="colXp">
        <p class="fs-1 lh-base">Proyectos: </p>
      </div>
      <div class="col mediovert">
        <app-addbutton></app-addbutton>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-3 colBorder" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/icono_obra.png" class="img-fluid rounded-start zooms" alt="image not found">
            </div>
              <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Título del proyecto</h5>
                <p class="card-text">Cuerpo del proyecto</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5  derecha">
          <app-editbutton></app-editbutton>
        </div>
        <div class="col-5">
          <app-crossbutton></app-crossbutton>
        </div>
      </div>
    </div>
    
  </div>
  